:root {
/*DIMENSIONS*/
    --site-width: 430px;
    --logo-height: 52px;
    --header-title-height: 140px;
    --text-margin: 18px;
    --text-margin-small: calc((var(--text-margin) - 6px));
    --p-space: 0.9rem;
/*COLORS*/
    --background-color: rgb(36, 36, 36);
    --basic-blue:  rgb(32, 164, 241);
    --basic-green: rgb(180, 240, 40);
    --expand:  hsl(108, 86%, 83%);
    --basic-light:  rgb(254, 243, 228);
    --text-color: rgb(47, 44, 44);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.05rem;
    background-color: var(--background-color);
    z-index: -15;

}

.back-fade {
    position: fixed;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    background-color: var(--background-color);   
    z-index: 11;
}

.backglow {
    position: fixed;
    left: 50%;
    top: 80px;
    margin: -80px 0 0 -400px;
    width: 700px;
    height: 200px;
    background-image: url("/images/backglow.svg");
    background-repeat: no-repeat;
    z-index: 12;
}

.back-glow2 {
    position: fixed;
    left: 50%;
    top: 280px;
    margin: -80px 0 0 -400px;
    width: 700px;
    height: 200px;
    background-image: url("/images/backglow.svg");
    background-repeat: no-repeat;
    background-position: 00px -200px;
    z-index: 0;
}

.site {
    position: relative;

    width: 100%;
    max-width: calc(var(--site-width) - 70px);

    border-radius: 8px;

    margin: 0 auto;
    margin-top: calc(var(--logo-height) + var(--header-title-height) + 6px);

    background-color:rgb(254, 243, 228);
    background-color: cornflowerblue;
    background-color: transparent;
    padding-bottom: 50px;
    color: var(--text-color);
    z-index: 10;
}

.area {
    position: fixed;
    width: calc(var(--site-width) - 70px);
    top: 200px;
    left: 50%;
    margin-left: calc((var(--site-width) - 70px) / -2);
    background-color: antiquewhite;
    border-radius: 8px;
    height: 65vh;
    padding-bottom: 20px;
    z-index: -3;
    
}

/*TEXT*/
a,
a:visited {
  color: inherit;
}

p {
    font-size: 1.1rem;
    line-height: 1.3;
    margin: var(--p-space) 0 var(--p-space) 0;
}

h1 {
    font-weight: 700;
}

.left p {
    text-align: left;
    margin: var(--p-space) var(--text-margin-small) var(--p-space) var(--text-margin);
}

.center {
    text-align: center;
    margin: 0 var(--text-margin) 0 var(--text-margin);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: rgb(255, 217, 0);
    z-index: 50;
}