:root {
/*DIMENSIONS*/
    --site-width: 430px;
    --logo-height: 52px;
    --header-title-height: 140px;
    --text-margin: 18px;
    --text-margin-small: calc((var(--text-margin) - 6px));
    --p-space: 0.9rem;
/*COLORS*/
    --background-color: rgb(36, 36, 36);
    --area-color: rgb(155, 246, 157);
    --basic-blue:  rgb(32, 164, 241);
    --basic-green: rgba(180, 240, 40, 0.7);
    --expand:  hsl(108, 87%, 74%);
    --basic-light:  rgb(254, 243, 228);
    --text-color: rgb(47, 44, 44);
/*FONTS*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.05rem;
    background-color: var(--background-color);
    z-index: -15;

}

.back-fade {
    position: fixed;
    width: 100%;
    max-width: var(--site-width);
    margin: 0 auto;
    height: 200px;
    top: 0;
    background-color: var(--background-color);   
    background-color: var(--area-color);
        background: linear-gradient(
        to bottom,
        var(--area-color) 0,
        var(--area-color) 180px,
        transparent 200px
    );
    z-index: 11;
}

.backglow {
    position: fixed;
    left: 50%;
    top: 80px;
    margin: -80px 0 0 -400px;
    width: 700px;
    height: 200px;
    background-image: url("../images/backglow.svg");
    background-repeat: no-repeat;
    z-index: 12;
}

.backglow2 {
    position: fixed;
    left: 50%;
    top: 280px;
    margin: -80px 0 0 -400px;
    width: 700px;
    height: 200px;
    background-image: url("../images/backglow.svg");
    background-repeat: no-repeat;
    background-position: 0 -200px;
    z-index: 0;
}

.site {
    position: relative;

    width: 100%;
    max-width: var(--site-width);
    margin: 0 auto;
    margin-top: calc(var(--logo-height) + var(--header-title-height) + 6px);

    padding-bottom: 40px;
    color: var(--text-color);
}



.area {
    position: fixed;

    width: 100%;
    height: 100vh;
    max-width: var(--site-width);
    margin: 0 auto;

    background-color:rgb(254, 243, 228);
    background-color: transparent;
    background-color: var(--area-color);
    padding-bottom: 20px;
    z-index: -10;
}




/*TEXT*/
a,
a:visited {
  color: inherit;
}

p {
    font-size: 1.1rem;
    line-height: 1.3;
    margin: var(--p-space) 0 var(--p-space) 0;
}

h1 {
    font-weight: 700;
}

.left p {
    text-align: left;
    margin: var(--p-space) var(--text-margin-small) var(--p-space) var(--text-margin);
}

.center {
    text-align: center;
    margin: 0 var(--text-margin) 0 var(--text-margin);
}

footer {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--background-color);
    bottom: 0;
    width: 100%;
    height: 12px;
    border-top: 2px solid rgb(255, 0, 108);
    z-index: 50;
}

.on-and-on {
    visibility: visible;
    margin-bottom: -5px;
}

.home {
    position: absolute;
    margin: 0 0 38px 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--basic-green);
    z-index: 5;
}

.home img {
    width: 40px;
}

