/* =========================
   MENU
   ========================= */

.menu-trigger {
    position: fixed;
    top: 10px;
    right: max(20px, calc((100vw - var(--site-width)) / 2 + 20px));
    z-index: 1000;

    border: 0;
    background: none;
    padding: 0;

    cursor: pointer;
}

.menu-trigger img, .menu-close img {
    width: 34px
}

/* dark area behind the menu */

.menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 2000;

    background: rgba(0, 0, 0, 0.25);

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.25s ease,
        visibility 0.25s ease;
}


/* centered site-width area */

.menu-container {
    position: relative;

    width: 100%;
    max-width: var(--site-width);
    height: 100%;

    margin: 0 auto;

    overflow: hidden;
}


/* menu itself */

.menu-panel {
    position: absolute;
    top: 0;
    right: 0;

    width: 78%;
    max-width: 360px;
    height: 100%;

    padding: 60px 20px 0px 10px;

    background: var(--basic-light);


    overflow-y: auto;

    transform: translateX(100%);

    transition: transform 0.3s ease;
}


/* open state */

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

.menu-overlay.open .menu-panel {
    transform: translateX(0);
}


/* X */

.menu-close {
    position: absolute;
    top: 10px;
    right: 20px;

    border: 0;
    background: none;
    padding: 0;

    cursor: pointer;
}


/* main menu items */

.menu-item {
    margin-bottom: 8px;
    font-family: var(--heading-font);
    font-size: 1.1rem;
}

.menu-item:has(.menu-submenu.open) {
    margin-bottom: -8px;
}

.menu-heading {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 9px 0 0 0;
    margin-bottom: -8px;
    border: 0;
    background: none;
    font: inherit;
    text-align: left;
    cursor: pointer;
}

.menu-heading span {
    font-weight: 600;
}

/* pictogram */

.menu-icon {
    width: 65px;
    flex-shrink: 0;
}

.menu-icon .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--basic-green);
    border-radius: 50%;
}

.menu-icon .icon img {
    width: 121%;
}

/* menu text */

.menu-heading > span:nth-child(2) {
    flex: 1;
}


/* ▼ / ▲ */

.menu-arrow {
    width: 25px;
    flex-shrink: 0;

    text-align: center;

    font-size: 1rem;
}


/* submenu */

.menu-submenu {
    display: none;
    font-family: var(--main-font);
    padding: 2px 0px 0px 65px;
}

.menu-submenu.open {
    display: block;
}


.menu-submenu a {
    display: block;

    padding: 5px 0;

    color: var(--txt-color);
    text-decoration: none;
}