/* margin-top adjusted because content on landing page has to start higher, locally */

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2px;
    width: calc(100% - 40px);
    margin-top: -40px;
    z-index: 15;
}

.menu-grid a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon,
.icon-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--icon-color);
}

.icon-empty {
    background-color: var(--icon-color);
}

.label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 40px;
    width: 90px;
    margin: -8px 0px 18px 0px;
    font-family: var(--heading-font);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    line-height: 1rem;
    color: white;
    text-shadow: 1px 1px 2px var(--label-text-shadow);
}
.date {
    position: absolute;
    margin: -15px 0px 0px 2px;
    text-align: center;
    z-index: 1000;
}

.date #month,
.date #date {
    width: auto;
    text-align: center;
    font-family: var(--heading-font);
}

.date #month {
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.date #date {
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 2px;
}