:root {
    --main-font: "Epunda Slab", serif; --heading-font: "Hammersmith One", sans-serif;
    --max-width: 430px; --speechmargin-left: 80px; --text-margin-left: 40px;  --text-margin-right: 20px;
    --background-blue: rgb(130, 205, 205); --background-color: rgb(26, 26, 26); --txt-color: rgb(46, 64, 86); --icon-color: rgb(185, 238, 227); --icon-color-sub: rgba(77, 89, 92, 0.882); --transparency: 0.0; --header-pink: rgb(253, 53, 109); --header-yellow: rgb(253, 229, 53);} 

 * {
    margin: 0; padding: 0; box-sizing: border-box; -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-optical-sizing: auto; font-weight: 400; font-style: normal;  }

body {
    min-height: 100vh; display: flex; flex-direction: column; align-items: center;
    background-color: var(--background-color); color: var(--txt-color); font-family: var(--main-font); }

a, a:visited {
    color: inherit; text-decoration: none;  }

h1, h2, h3, em {
    font-family: var(--heading-font);  }

em, h3 {
    font-weight: 500; font-style: normal; font-size: 1.1em;
    color: hsl(185, 100%, 38%); text-shadow: 0.5px 0.5px 0px rgba(149, 216, 231, 0.9);  }

em {
    display: inline-block;  font-size: 0.9em; transform: scaleY(1.3) translateY(-0.5px);  }

p {
    line-height: 1.5;  margin-bottom: 0.95em;  }

h2 {
    display: block; width: 200px;
    font-size: 1.7em; font-weight: 300; line-height: 90%; text-align: center;
    color: white; text-shadow: 1px 1px 2px rgba(52, 163, 188, 0.882);  }

.header-fade, .background-blue {
    position: fixed; top: 62px; width: 100%; height: 210px; 
    display: flex; flex-direction: column; justify-content: flex-start;  align-items: center;
    max-width: var(--max-width); overflow: visible; z-index: 10;  }

.header-fade {
    background: linear-gradient(to bottom, rgba(58, 185, 213, 0.99) 0, var(--background-blue) 40%, var(--background-blue) 86%, transparent 100%);  }

.balk {
    display: flex; position: fixed; top: 0px; height: 62px; background-color: var(--background-color); color: aliceblue;
    width: 100%; z-index: 5;  }

.background-blue {
    height: 100vh; background-color: var(--background-blue); z-index: -10; }
    
header {
    position: fixed; width: 100%; height: 280px;  max-width: var(--max-width);
    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
    z-index: 100;  }

.header-nav {
    max-width: var(--max-width); margin-top: 78px;  }

#huismus {
    position: fixed; display: flex; justify-content: center; align-items: flex-start; height: 60px; width: 100%; padding-left: 45px;  z-index: 25; }  #huismus img { width: 438px;  }

#img-and-title {
    display: flex; flex-direction: row; align-items: center;  justify-content: center; width: 100%; height: 100px;  gap: 0px; padding: 0px 0px 0px 22px;   }

#header-img {
    display: flex; justify-content: center; width: 80px; height: 100px;  margin-left: -20px;
    background-color: rgba(235, 100, 237, var(--transparency));
    z-index: 2;  }    #header-img img { flex-shrink: 0;  max-width: none; }

#top-mus {
    position: fixed; display: flex; justify-content: center; width: 100%; top: 27px; right: 115px; z-index: 35;  } #top-mus img {  width: 220px; } 

/* margin-top adjusted because content on landing page has to start higher, locally*/
.menu-grid {
    display: grid; grid-template-columns: repeat(3, 1fr); gap: 0 2px;
    width: calc(100% - 40px); margin-top: -40px; z-index: 15; }
.menu-grid a {
    display: flex;  flex-direction: column;  align-items: center;  }

.icon, .icon-empty {
    display: flex;  flex-direction: column; justify-content: center;  align-items: center;
    width: 70px;  height: 70px; border-radius: 50%; background-color: var(--icon-color);  }  .icon-empty { background-color: rgba(185, 238, 227, 0.7); }

.label {
    display: flex; align-items: flex-start; justify-content: center;
    height: 40px;  width: 90px; margin: -8px 0px 8px 0px;
    font-family: var(--heading-font); font-size: 1em; font-weight: 400; text-align: center; line-height: 1rem;  color: white; text-shadow: 1px 1px 2px rgba(41, 137, 158, 0.882);  }

#submenu {
    display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 22px;
    width: calc(var(--max-width) - 40px); height: auto;  margin: 0px 10px 10px 10px;  z-index: 40;   }

.submenu-item {
    width: 54px; height: 54px;  flex: 0 0 54px;  }

.submenu-icon {
    display: flex; justify-content: center; align-items: center;
    width: 54px; height: 54px;  border-radius: 50%; background-color: rgb(88, 103, 121);
    font-family: var(--heading-font); font-size: 0.8em; font-weight: 300; text-align: center; line-height: 100%; color: white; text-shadow: 1px 1px 2px rgba(77, 89, 92, 0.882);  }

.submenu-icon.active {
    transform: scale(1.6);  background-color: hsl(168, 61%, 78%);
    font-size: 0.5em; color: var(--txt-color); text-shadow: 1px 1px 1px rgba(209, 225, 229, 0.882);   }

main {
    display: flex; flex: 1; flex-direction: column; justify-content: flex-start;  align-items:center;
    width: 100%; max-width: var(--max-width);  margin-top: 0px; padding: 260px 0px 0px 0px; font-size: 0.98em;  }

.main-txt {
    display: flex; flex-direction: column; justify-content: flex-start;  align-self:flex-start; text-align: left; margin: 0px var(--text-margin-right) 45px var(--text-margin-left); padding-top: 6px;  }

.short main {
    padding: 230px 0px 0px 0px;  }



.subsublinkjes a {
    
    display: inline-block; padding-right: 4px; height: 2em;
    font-family: var(--heading-font); font-size: 0.95em; color: var(--txt-color); border-bottom: 22px solid rgb(185, 238, 227, 0.4);  }  .subsublinkjes a::before { display: inline-block; width: 30px;  height: 30px; border-radius: 50%; margin: 3px -18px -9px -13px; background: var(--icon-color); content: "";   }
    
.subsublinkjes a::before { display: inline-block; width: 30px;  height: 30px; border-radius: 50%; margin: 3px -18px -9px -13px; background: var(--icon-color); content: "";   } 
    
    
.subsublinkjes p::after {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: -5px 0px -6px 4px;
    background: rgba(255, 255, 255, 0.612);
    background-image: url("/huismusopavontuur/images/dots.svg");;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

#speech {
    position: fixed;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%; max-width: var(--max-width);
    z-index: 400;
}

#speech-bubble {

    margin-right: calc(var(--text-margin-right) + 5px);

    width: auto;
    min-width: 70px;
    max-width: 75%;
    height: auto;

    border-radius: 20px;
    background-color: antiquewhite;
    border: 1px grey solid;
    padding: 3px 8px 8px 12px;

    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}


/* COLLAPSED BUBBLE */

#speech-bubble.collapsed {

    min-width: 70px;
    width: 70px;
    max-width: 70px;

    text-align: center;
    font-size: 1.4em;

    padding: 3px 8px 8px 8px;
}

#speech-bubble.collapsed p {

    margin: -6px 0px 2px 0px;
}


/* CLOSE BUTTON */

#speech-close {

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -12px;
    right: 40px;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: rgb(145, 144, 144);
    border: 1px antiquewhite solid;
    cursor: pointer;
}

/* POINTER */

#speech-pointer {

    position: relative;
    right: 10%;

    width: 24px;
    height: 24px;
    bottom: 2px;
}


/* NORMAL TEXT */

#speech-bubble p {
    margin: 14px 0px 14px 0px;
    line-height: 1.28;
    font-family: var(--main-font);
}







footer {
    position: fixed; bottom: 0px; width: 100%; max-width: 430px; height: 20px; z-index: 20;
    display: flex; align-items: center;  justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(89, 122, 27, 0.0) 0, rgba(123, 171, 33, 0.99) 20%, rgba(101, 141, 28, 0.99) 85%, rgba(26, 26, 26, 0.99) 100%);  } 
