:root {
    --main-font: "Epunda Slab", serif;
    --heading-font: "Hammersmith One", sans-serif;
    --max-width: 430px;
    --text-margin: 30px;
    --transparency: 0.0;

}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, em {
    font-family: var(--heading-font);
}

em, h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    color: hsl(185, 100%, 38%);
    text-shadow: 0.5px 0.5px 0px rgba(149, 216, 231, 0.9);
}

p, h3 {
    line-height: 1.3;
    margin-bottom: 0.95em;
}

h2 {
    display: block;
    width: 200px;
    font-size: 1.7em;
    font-weight: 300;
    text-align: center;
    line-height: 90%;
    color: white;
    text-shadow: 1px 1px 2px rgba(52, 163, 188, 0.882);
    background-color: rgba(248, 248, 64, var(--transparency));
}

body {
    min-height: 100vh;
    background-color: rgb(102, 198, 17);
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(46, 64, 86);
}

.header-back-small {
    position: fixed;
    width: 100%;
    height: 280px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    z-index: 105;
   background: linear-gradient(
    to bottom,
    rgba(58, 185, 213, 0.99) 0,
    rgba(130, 205, 205, 0.99) 40%,
    rgba(130, 205, 205, 0.99) 86%,
    transparent 100%
    );
    max-width: var(--max-width);}

header {
    position: fixed;
    width: 100%;
    height: 280px;

    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    z-index: 105;
    max-width: var(--max-width);
    z-index: 9999900;

}

.header-nav {
    margin-top: 78px;
    max-width: var(--max-width);
}

.short header {
    height: 150px;
        background: linear-gradient(
    to bottom,
    rgba(58, 185, 213, 0.99) 0,
    rgba(130, 205, 205, 0.99) 80%,
    transparent 100%
    );
}

#huismus {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    width: 100%;
    padding-left: 45px;
    z-index: 360;
}
#huismus img {
    width: 438px;
  }

#header-img {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 100px;
    margin-left: -20px;
    background-color: rgba(235, 100, 237, var(--transparency));
    z-index: 8;
}
#header-img img {
    max-width: none;
    flex-shrink: 0;
}

#top-mus {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 27px;
    right: 115px;
    z-index: 4100;
}

#top-mus img {
    width: 220px;
}

#img-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 0px 0px 0px 22px;
    overflow: visible !important;
    gap: 0px;
    background-color: rgba(245, 93, 240, var(--transparency));
}

#back-1 {
    width: 37px;
    height: 30px;
    position: relative;
    left: -6px;
    top: 0px;
    background-color: rgba(0, 0, 255, var(--transparency));
}
#back-1 img {
    transform: scale(1.2);
}

.menu-grid {
/* margin-top adjusted because content on landing page has to start higher, locally*/
    margin-top: -40px;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2px;
    z-index: 200;
}
.menu-grid a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon, .icon-empty {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: rgb(185, 238, 227);
}

.icon-empty {
    background-color: rgba(185, 238, 227, 0.7);
}

.label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 40px;
    width: 90px;
    margin-top: -8px;
    margin-bottom: 8px;
    font-family: var(--heading-font);
    color: white;
    text-align: center;
    overflow: visible;
    font-size: 1em;
    line-height: 1rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(41, 137, 158, 0.882);

}

#submenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
    width: calc(var(--max-width) - 40px);
    height: auto;
    margin: 0px 10px 0px 10px;
    background-color: rgba(66, 227, 174, var(--transparency));
}

.submenu-item {
    width: 54px;
    height: 54px;
    flex: 0 0 54px;
}

.submenu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: rgb(100, 188, 188);
    background-color: rgb(88, 103, 121);

    border-radius: 50%;
    font-family: var(--heading-font);
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    line-height: 100%;
    color: white;
    text-shadow: 1px 1px 2px rgba(88, 103, 121, 0.52);
}

.submenu-icon.active {
    text-shadow: 1px 1px 2px rgba(88, 103, 121, 0.4);
    background-color: rgb(149, 229, 241);
    background-color: hsl(168, 61%, 78%);
    transform: scale(1.1);
    color: rgb(88, 103, 121);
}

.submenu-icon,
.submenu-icon:visited {
    color: white;
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 430px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    background-color:rgb(130, 205, 205);
    padding: 260px 0px 0px 0px;
}

.short main {
    padding: 230px 0px 0px 0px;
}

.main-txt, .main-txt-left, .main-txt-center {
    margin: 0px var(--text-margin) 0px var(--text-margin);
    background-color: rgba(210, 105, 30, var(--transparency));
}

.main-txt-left p {
    text-align: left;
    margin-left: calc(var(--text-margin) + -4px);
    margin-right: calc(var(--text-margin) - 20px);
}

.main-txt-center p {
    text-align: center;
}

footer {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 430px;


    height: 22px;

    background-color: rgba(96, 160, 24, 0.99);
    position: fixed;
    bottom: 0px;
    z-index: 300;

}

.date {
    position: absolute;
    margin-top: -8px;
    text-align: center;
    z-index: 1000;
}


.date #month,
.date #date {
    width: auto;
    text-align: center;
    font-family: var(--heading-font);
}

.date #month {
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.date #date {
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 2px;
}

