:root {
    --main-font: "Epunda Slab", serif;
    --heading-font: "Hammersmith One", sans-serif;
    --max-width: 430px;
    --text-margin: 30px;
    --transparency: 0.0;

}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, em {
    font-family: var(--heading-font);
}

em, h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    color: hsl(185, 100%, 38%);
    text-shadow: 0.5px 0.5px 0px rgba(149, 216, 231, 0.9);
}

p, h3 {
    line-height: 1.3;
    margin-bottom: 0.95em;
}

h2 {
    display: block;
    width: 200px;
    font-size: 1.7em;
    font-weight: 300;
    text-align: center;
    line-height: 90%;
    color: white;
    text-shadow: 1px 1px 2px rgba(52, 163, 188, 0.882);
    background-color: rgba(248, 248, 64, var(--transparency));
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: rgb(102, 198, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(46, 64, 86);
}

.header-back-wide {
    position: fixed;
    width: 100%;
    height: 166px;
    background: linear-gradient(
    to bottom,
    rgba(58, 185, 213, 0.99) 0,
    rgba(130, 205, 205, 0.99) 70%,
    transparent 100%
    );
    z-index: 4;
}

.header-back-small {
    position: fixed;
    width: 100%;
    max-width: var(--max-width);
    height: 266px;
    background: linear-gradient(
    to bottom,
    rgba(58, 185, 213, 0.99) 0,
    rgba(130, 205, 205, 0.99) 70%,
    transparent 100%
    );
    z-index: 5;
}

header {
    position: fixed;
    width: 100%;
    max-width: var(--max-width);
    height: 250px;
    background-color: rgba(183, 56, 56, var(--transparency));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 6;
    overflow: visible;
}

#huismus {
    height: 74px;
    width: 100%;
}

#header-img {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 100px;
    margin-left: -20px;
    background-color: rgba(235, 100, 237, var(--transparency));
    z-index: 8;
    overflow: visible !important;
}

#top-mus {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 27px;
    right: 115px;
    z-index: 20;
}

#top-mus img {
    width: 220px;
}

#img-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    padding-left: 22px;
    overflow: visible !important;
    gap: 0px;
    background-color: rgba(245, 93, 240, var(--transparency));
}

#back-1 {
    width: 37px;
    height: 30px;
    position: relative;
    left: 0%;
    top: 0px;
    background-color: rgba(0, 0, 255, var(--transparency));
}
#back-1 img {
    transform: scale(1.2);
}

#submenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
    width: calc(var(--max-width) - 40px);
    height: auto;
    margin: 0px 10px 0px 10px;
    background-color: rgba(66, 227, 174, var(--transparency));
}

.submenu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: rgb(100, 188, 188);
    border-radius: 50%;
    font-family: var(--heading-font);
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    line-height: 100%;
    color: white;
    text-shadow: 1px 1px 2px rgba(52, 163, 188, 0.882);
}

main {
    width: 100%;
    max-width: 430px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    background-color:rgb(130, 205, 205);
    padding: 250px 0px 0px 0px;
}

.main-txt, .main-txt-left, .main-txt-center {
    margin: 0px var(--text-margin) 0px var(--text-margin);
    background-color: rgba(210, 105, 30, var(--transparency));
}

.main-txt-left p {
    text-align: left;
    margin-left: calc(var(--text-margin) + -4px);
    margin-right: calc(var(--text-margin) - 20px);
}

.main-txt-center p {
    text-align: center;
}

footer {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 430px;


    height: 20px;

    background-color: rgb(102, 198, 17);
    position: fixed;
    bottom: 0px;

}