body.contact #section-img {
    transform: scale(1.3) rotate(-20deg);
  }

body.contact .main {
    padding: 80px 0px 0px 0px;
}

body.contact .main-txt {
    text-align: center;
    margin-right: var(--text-margin-left);
}

body.ideas  #section-img {
    transform: scale(1.1);
  }
body.ideas  h2 {
    margin-left: -5px;
  }

 body.ideas #submenu, body.about #submenu {
    gap: 32px;
  }

body.projects  #section-img {
    transform: scale(1.1);
  }

body.projects  h2 {
    margin-left: -5px;
  }

body.about #section-img {
    transform: scale(1.1);
  }

body.today #date {
    margin: 4px;
}


body.today .header-fade, body.random .header-fade, body.contact .header-fade {
    height: 150px;
    background: linear-gradient(
        to bottom,
        rgba(58, 185, 213, 0.99) 0,
        var(--background-light) 56%,
        var(--background-light) 100%,
        transparent 100%
    );
}

body.today main {
    padding: 220px 0px 0px 0px;
}

body.today .main-txt {
    text-align: center;
    margin-right: var(--text-margin-left);
}

body.random header {
    position: fixed; 
    width: 100%; 
    max-width: var(--max-width);
    height: 210px;  
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        var(--background-light) 40%,
        var(--background-light) 90%,
        transparent 100%
    );   
    z-index: 100;  }
