.site-logo {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    left: 50%;
    width: 100%;
    height: var(--logo-height);
    transform: translateX(-50%);
    background-color: black;
    z-index: 20;
}

.red-line {
    position: fixed;
    top: var(--logo-height);
    width: 100%;
    height: 2px;
    background-color: rgb(255, 0, 108);
    z-index: 19;
}

#header-title {
    position: fixed;
    top: 75px;
    left: 50%;
    margin-left: 10px;
    z-index: 18;
}

#header-img {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:var(--logo-height);
    left:50%;
    margin-left: -170px;
    width:  130px;
    height: 120px;
    z-index: 30;
}

#header-img img {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}
h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 2px rgba(9, 9, 9, 0.4);
}

#submenu {
    position: fixed;
    left:50%;
    height: 70px;
    top: calc(var(--logo-height) + 70px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
    width: 250px;
    height: auto;
    margin: 0px 0px 0px -60px;
    z-index: 40;
}

.submenu-item {
    width: 54px;
    height: 54px;
    flex: 0 0 54px;
}

.submenu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    padding: 0 2px 4px 2px;
    border-radius: 50%;
    background-color: rgb(88, 103, 121);
    font-family: var(--heading-font);
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    line-height: 100%;
    color: white;
    text-shadow: 1px 1px 2px rgba(77, 89, 92, 0.882);
}

.submenu-icon.active {
    transform: scale(1.4);
    padding: 0 10px 4px 10px;
    background-color: var(--basic-green);
    font-size: 0.6em;
    color: var(--txt-color);
    text-shadow: 0px 1px 3px rgb(255, 255, 255);
}