:root {
    --main-font: "Epunda Slab", serif;
    --heading-font: "Hammersmith One", sans-serif;
    --max-width: 430px;
    --speechmargin-left: 80px;
    --text-margin-left: 40px;
    --text-margin-right: 20px;
    --background-light: rgb(252, 245, 236);
    --background-color: rgb(26, 26, 26);
    --txt-color: rgb(46, 64, 86);
    --icon-color: rgba(190, 156, 255, 0.6);
    --test-color: rgb(236, 61, 249);



    --color-0: 63, 40, 145;
    --color-1: 190, 0, 230;
    --color-1-lighter: 236, 61, 249;
    --color-2: 243, 140, 193;

    --label-text-shadow: rgba(32, 32, 32, 0.6);

}