:root {
    --main-font: "Epunda Slab", serif;
    --heading-font: "Hammersmith One", sans-serif;
    --max-width: 430px;
    --speechmargin-left: 80px;
    --text-margin-left: 40px;
    --text-margin-right: 20px;
    --background-light: rgb(252, 245, 236);
    --background-color: rgb(26, 26, 26);
    --txt-color: rgb(46, 64, 86);
    --icon-color-original: rgb(165, 233, 219);
    --icon-color: rgba(151, 238, 236, 0.7);
    --transparency: 0.0;
    --header-pink: rgb(253, 53, 109);
    --header-yellow: rgb(253, 229, 53);
    --label-text-shadow: rgba(32, 32, 32, 0.6);
}