

<body class="{% if page.page_type == 'home' %}home{% else %}{{ page.parent_folder }}{% endif %}">
<div id="main-menu"><a href="{{ '/' | relative_url }}"><div></div></a></div>
<div class="balk">
    {% if page.page_type != "home" %}<div id="home"><img src="{{ '/images/main-menu.svg' | relative_url }}" alt="Yvon dreams on"></div>{% endif %} 
</div>
<div class="background-light"></div>
<div class="header-fade"></div>

<div id="page-top"><img src="{{ '/images/dreams-on.svg' | relative_url }}" alt="Yvon dreams on"></div>

<div class="footer-back"></div>
