{% unless page.path == "index.html" %}

  <a href="{{ '/' | relative_url }}">


    <img src="{{ '/images/home.svg' | relative_url }}" 
         alt="HOME" 
         style="width: 180px; position: absolute; right: 0px; bottom: 0px; z-index: -10;">
  </a>
{% endunless %}

<!--<a href="{{ '/about/' | relative_url }}">
  <div class="footer-icon">
  <img src="{{ '/images/about.svg' | relative_url }}" alt="Ik">
  </div>
</a>

<a href="{{ '/projects/' | relative_url }}">
  <div class="footer-icon">
  <img style="margin: -18px 0px 0px 0px;" src="{{ '/images/projects.svg' | relative_url }}" alt="Projecten">
  </div>
</a>

<a href="{{ '/ideas/' | relative_url }}">
  <div class="footer-icon">
  <img src="{{ '/images/ideas.svg' | relative_url }}" alt="">
  </div>
</a>

<a href="{{ '/today/' | relative_url }}">
  <div class="footer-icon">
  <img src="{{ '/images/today-empty.svg' | relative_url }}" alt="Contact">
  </div>
</a>

<a href="{{ '/random/' | relative_url }}">
  <div class="footer-icon">
  <img src="{{ '/images/random.svg' | relative_url }}" alt="Dobbelsteen">
  </div>
</a>

<a href="{{ '/contact/' | relative_url }}">
  <div class="footer-icon">
  <img src="{{ '/images/contact.svg' | relative_url }}" alt="Contact">
  </div>
</a>-->

