<footer>
  <!--<img src="{{ '/images/gras.svg' | relative_url }}" 
         alt="" 
         style="width: 100px; position: absolute; bottom: 5px; left: 5px;">-->
</footer>

{% unless page.path == "index.html" %}

  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/images/pijl.svg' | relative_url }}" 
         alt="" 
         style="width: 60px; position: absolute; bottom: 9px; right: 84px;">

    <img src="{{ '/images/mus.svg' | relative_url }}" 
         alt="mus" 
         style="transform: scaleX(-1); width: 155px; position: absolute; right: -15px; bottom: -8px; z-index: 500;">
  </a>
{% endunless %}
</footer>

