<footer>
  <img src="{{ '/images/gras.svg' | relative_url }}" 
         alt="" 
         style="width: 100px; position: absolute; bottom: 2px; left: 5px;">
</footer>

{% unless page.path == "index.html" %}

  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/images/pijl.svg' | relative_url }}" 
         alt="" 
         style="width: 60px; position: absolute; bottom: 15px; right: 90px;">

    <img src="{{ '/images/mus.svg' | relative_url }}" 
         alt="mus" 
         style="transform: scaleX(-1); width: 170px; position: absolute; right: -20px; bottom: -30px; z-index: 500;">
  </a>
{% endunless %}
</footer>

