

<div class="header-nav">

{% if page.page_type != "home" %}

<div id="img-and-title">

    {% if page.parent_folder == "about" %}
        <div id="header-img">
        <img src="{{ '/images/about2.svg' | relative_url }}" alt="Ik">
        </div>
    {% endif %}

    {% if page.page_type != "home" and page.parent_folder != "about" and page.parent_folder != "today" %} 
        <div id="header-img">
        <a href="#"><img src="{{ '/images/' | append: page.parent_folder | append: '.svg' | relative_url }}" alt=""></a>
        </div>
    {% endif %}

    {% if page.parent_folder == "today" %}
    <div id="header-img">

      <img style="transform: scale(1.1)" src="{{ '/images/today.svg' | relative_url }}" alt="Vandaag">

        <div class="date" style="margin-top: 24px; transform: scale(1.1);">
            <div id="month"></div>
            <div id="date"></div>
        </div>

    </div>
        
    {% endif %}

{% endif %}


{% if page.page_type != "home" %}
    <div>
    {% assign parts = page.path | split: '/' %}

        {% case parts[0] %}
    {% when "ideas" %}
        <h2>{{ site.labels.ideas }}</h2>

    {% when "projects" %}
        <h2>{{ site.labels.projects }}</h2>

    {% when "about" %}
        <h2>{{ site.labels.about }}</h2>

    {% when "today" %}
    <h2 id="actual-day">TEST</h2>

    {% when "random" %}
        <h2>{{ site.labels.random }}</h2>

    {% when "contact" %}
        <h2>{{ site.labels.contact }}</h2>

    {% when "sober" %}
        <h2>{{ site.labels.sober }}</h2>

    {% endcase %}
    </div>
</div>
{% endif %}

{% if page.show_submenu %}

  {% assign section = page.parent_folder %}
  {% assign submenu = site.submenus[section] %}

  <div id="submenu">

{% for item in submenu %} 
  <a class="submenu-item" href="{{ item.url | relative_url }}"> 
    <div class="submenu-icon{% if page.url == item.url %} active{% endif %}">
      {{ item.name }}
    </div> 
  </a> 
{% endfor %}

  </div>

{% endif %}

</div>

