<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>

<link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | relative_url }}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/styles-exeptions.css' | relative_url }}">
</head>

<body class="{{ page.parent_folder }}">

<div class="background-blue"></div>

<div class="header-back-small"></div>
    {% if page.page_type == "home" %}
        <div id="top-mus"><img src="{{ '/images/mus.svg' | relative_url }}" alt="Mus"></div>
    {% endif %}

<div id="huismus"><img src="{{ '/images/avontuur.svg' | relative_url }}" alt="Huismus dreams on"></div>

<header>
  {% include header.html %}
</header>

<main>
{% assign parts = page.path | split: '/' %}

  {{ content }}
</main>

<footer>
  {% include footer.html %}
</footer>


<script src="{{ '/js/date.js' | relative_url }}"></script>
</body>
</html>
