<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>

<link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | relative_url }}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/styles-exeptions.css' | relative_url }}">
</head>

  {% include basics.html %}

  {% include header.html %}

<main>


{% assign parts = page.path | split: '/' %}


  {{ content }}
</main>


{% if page.speech %}
<div id="speech">
    <div id="speech-close">
        <img src="{{ '/images/close.svg' | relative_url }}" alt="x">
    </div>

    <div id="speech-bubble">
        {% for paragraph in site.data.speeches[page.speech] %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </div>

    <div id="speech-pointer">
        <img src="{{ '/images/speech-pointer.svg' | relative_url }}" alt="">
    </div>
</div>
{% endif %}


<footer>
  {% include footer.html %}
</footer>

<script src="{{ '/js/speechbubble.js' | relative_url }}"></script>

</body>
</html>
